.quoteArea {
  &,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // width: 100%;
  // height: auto;
  min-width: 25%;
  min-height: 25%;
  max-width: 85%;
  max-height: 85%;
  // background-color: rgb(255, 255, 255);
  // opacity: 0.5;
  padding: 1.5rem;
}

.quote {
  font-size: 2rem;
  color: rgb(15, 15, 15);
}
