.muq--header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-bottom: 1.7rem;
}

.headerPart {
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &:first-of-type {
    margin-right: 1rem;
  }
}
