.layout {
  header {
    margin-bottom: 2.5rem;
    & > div:first-child {
      h1 {
        font-size: 7rem;
      }
      h6 {
        font-size: 2.2rem;
        top: 7rem;
        right: 0.8rem;
      }
    }
  }
}

.headerParagraph {
  margin-bottom: 2rem;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  .iconContainer {
    display: inline-block;
    padding: 0.5rem;
    border: solid 1px #fff;
    border-radius: 0.3rem;
    margin: 0 0.8rem;
    .icon {
      margin-bottom: -0.54rem;
      fill: #fff;
      width: 2rem;
      height: 2rem;
    }
  }
}
