*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.muqtatifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.3rem solid rgb(255, 255, 255);
  border-radius: 0.8rem;
  padding: 1.7rem;
  height: auto;
  width: fit-content;
}

.muq--header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-bottom: 1.7rem;
}

.headerPart {
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &:first-of-type {
    margin-right: 1rem;
  }
}
