.container {
  display: flex;
  flex-direction: column;
  min-width: 24.5rem;

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    span {
      font-size: 1rem;
      color: gray;
    }
  }
  .section {
    margin-top: 0.5rem;
  }

  .textBackground {
    .textBgCheckbox {
      padding: 1rem 0.5rem;
      border-bottom: 1px solid #fff;
    }
    display: flex;
    flex-direction: column;
    .textBackgroundSize {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #fff;

      .sizeSlider {
        input[type="range"] {
          width: 11.4rem;
          height: 2.4rem;

          &:hover {
            background-color: #393939;
          }
        }
      }
    }

    .sliderContainer {
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      position: relative;

      &:last-of-type {
        margin-right: 0.5rem;
      }

      &:last-of-type::before {
        position: absolute;
        left: -6.5px;
        top: -6px;
        content: "";
        height: 5.4rem;
        width: 1px;
        background-color: #fff;
      }

      &.sliderDisabled {
        input[type="range"]:hover {
          background-color: transparent;
          &::-webkit-slider-runnable-track,
          &::-webkit-slider-thumb {
            cursor: default;
          }
        }
      }
    }

    .textBackgroundColor {
      margin-top: 0;
      transition: all 0.2s;
      border-bottom: 1px solid #fff;
      &:hover {
        background-color: #393939;
      }
      &.colorBtnDisabled {
        &:hover {
          background-color: transparent;
          cursor: default;
        }
        button:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }

    .opacityContainer {
      padding: 0.5rem;
      border-bottom: 1px solid #fff;
      .opacitySlider {
        input[type="range"] {
          width: 24rem;
          height: 2.4rem;

          &:hover {
            background-color: #393939;
          }
        }
      }

      &.opacityDisabled {
        input[type="range"] {
          &:hover {
            background-color: transparent;
          }
          &::-webkit-slider-runnable-track,
          &::-webkit-slider-thumb {
            cursor: default;
          }
        }
      }
    }

    .dropShadowCointainer {
      .dropShadowCheckbox {
        padding: 0.5rem;

        h2 {
          margin: 0;
        }

        button {
          width: 1.6rem !important;
          height: 1.6rem !important;
          margin: 0.2rem;
          div {
            width: 1rem !important;
            height: 1rem !important;
          }
        }

        &.dropShDisabled {
          &:hover,
          button:hover {
            cursor: default;
          }
        }
      }
      .dropShadowSettings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dropShadowSlider {
          input[type="range"] {
            width: 11.4rem;
            height: 2.4rem;

            &:hover {
              background-color: #393939;
            }
          }
        }
      }
    }
  }
}

.presetImgSize {
  overflow-x: scroll;

  h1 {
    margin: 0 0 1rem 0.5rem;
  }
}
.radioBtns {
  div {
    display: flex;
    margin-left: 0.5rem;
    label {
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7.2rem;
      height: auto;
      border: none;
      text-align: center;
      border-radius: 0.5rem;
      color: #fff;
      margin-bottom: 0.5rem;
      border: 2px solid transparent;
      transition: all 0.2s;
    }

    &:nth-of-type(1) {
      label {
        background-color: rgb(126, 126, 126);
      }
    }
    &:nth-of-type(2) {
      label {
        background-color: #1877f2;
      }
    }
    &:nth-of-type(3) {
      label {
        color: rgb(15, 15, 15);
        background-color: #fffc00;
      }
    }
    &:nth-of-type(4) {
      label {
        background-color: #c32aa3;
      }
    }
    &:nth-of-type(5) {
      label {
        background-color: #1da1f2;
      }
    }

    input[type="radio"]:checked + label {
      border: 2px solid #fff;
    }
  }
}
