@font-face {
  font-family: "Al-Qalam";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/al-qalam-quran-majeed.woff2")
    format("woff2");
}
@font-face {
  font-family: "Almarai";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/almarai-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Droid-sans";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/droid-sans-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "El-Messiri";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/el-messiri-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Jomhuria";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/jomhuria-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Amiri";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Amiri-Bold";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "Othmani";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/ar-othmani-org.ttf")
    format("ttf");
}

@font-face {
  font-family: "Katibeh";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/katibeh-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Droid-Naskh";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/droid-naskh-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Hafs-Uthmanic";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/hafs-uthmanic-v14-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Lateef";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/lateef-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Me-QuranR3HOQ";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/me-quran-r3-hoq-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Mirza";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/mirza-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto-Kufi";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/noto-kufi-arabic-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto-Kufi-Bold";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/noto-kufi-arabic-bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto-Naskh";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/noto-naskh-arabic-regular-full.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto-Naskh-bold";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/noto-naskh-arabic-bold.woff2")
    format("woff2");
}
