.container {
  width: auto;
  height: auto;
  min-width: 5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0f0f0f;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff !important;
    border-radius: 50%;
    &,
    path {
      transition: all 0.2s;
      transform: scale(1);
    }

    &:not(:first-of-type) {
      margin-left: 1rem;
    }

    &:hover {
      &:nth-of-type(1) {
        border: 1px solid #1877f2 !important;
        transform: scale(1.1);
        path {
          fill: #1877f2;
        }
      }
      &:nth-of-type(2) {
        border: 1px solid #1da1f2 !important;
        transform: scale(1.1);
        path {
          fill: #1da1f2;
        }
      }
      &:nth-of-type(3) {
        border: 1px solid #25d366 !important;
        transform: scale(1.1);
        path {
          fill: #25d366;
        }
      }
      &:nth-of-type(4) {
        border: 1px solid #2aabee !important;
        transform: scale(1.1);
        path {
          fill: #2aabee;
        }
      }
    }
  }
}

.arrowDown {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4.2rem;
}
