.quoteArea {
  &,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  width: 50rem;
  height: 25rem;
  background-color: #fff;
  padding: 2.5rem;
}

.quote {
  font-size: 2rem;
  color: rgb(15, 15, 15);
}
