*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  input[type="range"] {
    height: 26px;
    -webkit-appearance: none;
    width: auto;
    background-color: transparent;
    border: 1px solid #fff;

    &::-webkit-slider-runnable-track {
      width: 100%;
      cursor: ew-resize;
    }

    &::-webkit-slider-thumb {
      height: 20px;
      width: 2px;
      background: #ffffff;
      cursor: ew-resize;
      -webkit-appearance: none;
    }

    &:focus::-webkit-slider-runnable-track {
      background: #393939;
      -webkit-appearance: none;
    }

    &:focus {
      outline: none;
    }
  }
}
